* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --darkPurple: hsla(273, 85%, 13%, 1);
   --brightGreen: hsla(150, 100%, 63%, 1);
   --palePurple: hsla(271, 12%, 34%, 1);
   --ghostWhite: hsla(274, 100%, 99%, 1);
}

button {
    font-size: 16px;
    line-height: 32px;
    outline: 1px solid var(--brightGreen);
}

button:hover {
    background-color: var(--darkPurple);
    color: var(--brightGreen);
    outline: 1px solid var(--brightGreen);
}



/* FONTS, SIZES, AND COLORS */

h1, 
h2,
h3 {
    font-family: 'Fraunces', serif;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
}

.number {
    font-weight: 300;
}

section.first__section h1,
section.first__section span {
    color: white;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

button,
span {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

span {    
    font-size: 16px;   
    line-height: 32px;
}

h1 {    
    font-size: 50px;
    line-height: 50px;
}

h1 span {
    font-size: 50px;
    line-height: 50px;
    font-family: 'Fraunces', serif;
}


.bg {
    display: none;
}

/* FIRST SECTION */

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 1rem;
    padding-right: 1rem;
}

span.underline {
    text-decoration: underline;
    text-decoration-color: var(--brightGreen);
}

.first__section {
    background-color: var(--darkPurple);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.apply:hover {
    color: var(--brightGreen);
    cursor: pointer;
}

.intro__section {
    margin-top: 64px;
    padding-bottom: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__section button {
    margin-top: 40px;

}
.hero {
    width: 320px;
    height: 184px;
    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);
    align-self: center;
}

button {
    background-color: var(--brightGreen);
    color: var(--darkPurple);
    padding: 11px 24px;
    border: none;
}

/* HIGHLIGHTS */

.highlights {
    background-color: var(--ghostWhite);
    padding-top: 155px;
    text-align: center;
}

.row {
    gap: 40px;
}

.number {
    display: inline-flex;
    border: 1px solid var(--darkPurple);
    border-radius: 50%;
    /* padding: 1rem; */
    width: 2.5rem;
    height: 2.5rem;
    align-content: center;
    justify-content: center;
}

h3.title {
    margin-top: 24px;
}

p.explanation {
    margin-top: 1rem;
}

/* FOUNDER */

.founder {
    padding-top: 328px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder__headshot {
    height: 281px;
    width: 281px;
    position: absolute;
    top: 18%;
    
}

.founder {
    background-color: white;
}


.founder__info {
    background-color: var(--darkPurple);
    color: white;
    position: relative;
    padding: 2rem;
    text-align: center;
    margin: 0 1rem 0 1rem;
}


.founder__info p {
    margin-top: 1rem;
}

.founder__info button {
    margin-top: 1.5rem;
}

/* SOCIALS */

.socials {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 57px;
    padding: 74px 0 63px 0;
}

.social__icons__container {
    display: flex;
    gap: 26px;
}

/* TABLET */

@media (min-width: 767px) {

    /* INTRO  SECTION */
    .bg__pattern1,
    .bg__pattern2,
    .bg__pattern3 {
        display: block;
        position: absolute;
    }

    .bg__pattern1 {
        left: -14rem;
        transform: translate(0, 20%);
    }

    .bg__pattern2 {
        right: -6rem;
        bottom: 3rem;
    }

    .intro__section h1 {
        max-width: 50%;
    }

    .hero {
        width: 514px;
        height: 296px;
    }

    .intro__section {
        padding-bottom: 220px;
    }

    /* HIGHLIGHTS */

    .col-lg {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        max-width: 80%;
    }

    .text__container {
        text-align: left;
    }

    div.row {
        justify-content: center;
    }

    /* FOUNDER */

    .founder__info {
        width: 70%;
        transform: translate(15%, 0);
        text-align: left;
    }

    .founder__headshot {
        transform: translate(-75%, 0);
    }

    .bg__pattern3 {
        bottom: 0;
        transform: translate(0, 50%);
        right: 2rem;
    }
}

@media (min-width: 1000px) {
    header {
        padding-left: 165px;
        padding-right: 165px;
    }

    .intro__section {
        padding-bottom: 326px;
    }

    .intro__section h1 {
        max-width: 20%;
    }

    .bg__pattern1 {
        left: -9rem;
    }

    .bg__pattern2 {
        right: -4rem;
        bottom: 8rem;
    }

    .hero {
        width: 767px;
        height: 441px;
    }

    .highlights {
        padding-top: 255px;
        padding-bottom: 171px;
    }

    .col-lg {
        display: block;
        text-align: center;
    }

    .text__container {
        text-align: center;
    }

    .founder__headshot {
        height: 477px;
        width: 477px;
        transform: translate(-95%, 0);
    }

    .founder__info {
        width: 50%;
        transform: translate(15%, 0);
        text-align: left;
    }
}


