/* FONTS AND SIZES */

h1, 
h2,
h3 {
    font-family: 'Fraunces', serif;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

button,
span {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

span {    
    font-size: 18px;   
    line-height: 32px;
}

h1 {    
    font-size: 80px;
    line-height: 80px;
}

button {
    font-size: 18px;
    line-height: 32px;
}






body {
    background-color: bisque;
}

.bg {
    display: none;
}